@model Validade.MVC.Models.Pessoa
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<div>
    @Html.DisplayFor(x => x.Nome)
</div>

<div>
    @Html.DisplayFor(x => x.Idade)
</div>

<div>
    @Html.DisplayFor(x => x.Email)
</div>

<div>
    @Html.DisplayFor(x => x.Senha)
</div>

<div>
    @Html.DisplayFor(x => x.ConfirmarSenha)
</div>